{{/* Author profile box. Keep the page context available while iterating authors. */}}
{{ if ne .Type "page" | and (not (or (eq site.Params.profile false) (eq .Params.profile false))) }}

{{ $page := . }}
{{ $authors := .Params.authors }}

{{ if not $authors }}
  {{ $superuser := .Scratch.Get "superuser_slug" }}
  {{ if $superuser }}
    {{ $authors = slice $superuser }}
  {{ end }}
{{ end }}

{{ if $authors }}
  {{ range $idx, $slug := $authors }}
    {{ $profile := partial "functions/get_author_profile" $slug }}
    {{ if $profile.has_data }}
      {{ partial "page_author_card" (dict "profile" $profile "page" $page) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ end }}
